<ion-header>
  <ion-toolbar>
    <ion-title>INGRESAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email requeried></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password requeried></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="center-span" type="submit" (click)="onLogin(email, password)">
          ENTRAR
        </ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>

        <p class="ion-text-end">
          <a href="/forgot-password"> FORGOT PASSWORD?</a>
        </p>
      </ion-col>

    </ion-row>
    <span class="center-span"> or </span>
<ion-row>
  <ion-col>
    <ion-button class="center-span"  type="submit" color="danger" (click)="onLoginGoogle(email, password)"
    exapand="block">
Login with GOOGLE
    </ion-button>
  </ion-col>

</ion-row>
  </form>
  <ion-row>
    <ion-col>
    <p class="ion-text-end">
      <a href="/register"> CREATE NEW ACCOUNT!!</a>
    </p>
    </ion-col>

  </ion-row>
</ion-content>
