<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item lines="full">
<ion-label position="floating">Email</ion-label>
<ion-input type="text" #email requeried></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" #password requeried></ion-input>
  </ion-item>
<ion-row>
  <ion-col>
    <ion-button type="submit" (click)="onRegister(email, password)">
    REGISTRAR
    </ion-button>
  </ion-col>

</ion-row>

</form>

  <ion-row>
    <ion-col>
      <p>
        <a href="/login"> Already a have account?</a>
      </p>
    </ion-col>

  </ion-row>
</ion-content>
